html {
  /*-- Main font sizes --*/
  --title-size:      50px;
  --body-size:       1.06rem;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #2D2424;
  --header-color:    #2D2424;
  --body-color:      #2D2424;
  --aside-color:     #2D2424;
  --fig-cap-color:   #2D2424;
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    "Cabin", sans-serif;
  --mono-font:       "Ubuntu Mono", monospace;
  --body-font:       "Raleway", sans-serif;
  --navbar-font:     "Cabin", sans-serif;  /* websites + blogs only */
}
